body {
    font-size: 13px;
    font-family: serif;
    font-weight: normal;
    margin-left:10px;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 20px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    font-size: 13px;
}

a {
    color: blue;
    text-decoration: underline;
}
